body {
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Shantell Sans';
  font-weight: 500;
  color: #6B885E;
  font-size: 40px;
}

h2{
  font-family: 'Open Sans';
  color: #2b2b2b;
  font-weight: 700;
}

h3{
  font-family: 'Shantell Sans';
  color: #6B885E;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Open Sans';
  font-size: 16px;
  color: #2b2b2b;
}

label{
  font-family: 'Open Sans';
  font-size: 18px;
  color: #282828;
  font-weight: 600;
}

button{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Open Sans';
  color: white;
  background: #6B885E;
}

select{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Open Sans';
  color: white;
  background: #6B885E;
  outline: none;
}

button:hover{
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Open Sans';
  color: white;
  background: #5c7550;
}

/* ------------------------------------------------------------- */
/* nav bar */
.nav-container{
  width: 90%;
  margin-left: 5%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo{
  background-image: url('assets/logo.svg');
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.logo-text{
  font-size: 30px;
  font-family: 'Shantell Sans';
  font-weight: 500;
  color: #2b2b2b;
}

.green{
  color: #6B885E;
}

.name-container{
  display: flex;
  flex-direction: row;
}

a{
  text-decoration: none;
  color: #2b2b2b;
}

.navItems{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navItems p{
  font-family: 'Shantell Sans';
  font-size: 18px;
  transition: color 0.2s ease-out 100ms;
}

.navItems p:hover{
  color: #6B885E;
}

.active p{
  color: #6B885E;
  font-weight: 500;
}

/* ------------------------------------------------------------- */
/* Landing Page */

@keyframes swipeUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.landing-container {
  width: 95%;
  height: 90vh;
  padding-left: 5%;
  background-image: url('assets/landing_bg.svg');
  background-position: center;
  background-size: cover;
  animation: swipeUp 1s ease-in-out forwards;
}

@keyframes swipeIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.landingPage-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 100%;
  animation: swipeIn 1s ease-in-out;
}

.landingPage-info h2{
  padding: 0;
  margin: 0;
}

.landingPage-info h1{
  padding: 0;
  margin: 0;
  margin-top: -1%;
}

.landingPage-info p{
  padding: 0;
  width: 70%;
  font-size: 20px;
}

.landing-header {
  font-family: 'Shantell Sans';
  font-weight: 500;
  color: #6B885E;
  font-size: 60px;
}

.landingPage-info button{
  width: 20%;
}

/* ------------------------------------------------------------- */
/* Carbon Calculator page */

.calculator-container{
  width: 100%;
  height: 48vh;
}

.left-container{
  width: 55%;
  margin-left: 5%;
  float: left;
  /* background-color: aqua; */
}

.left-container h2{
  margin-top: 80px;
}

.right-container{
  width: 45%;
  float: left;
  background-image: url('assets/holding_tree.svg');
  background-size: cover;
  background-position: center;
}

.form{
  width: 100%;
  display: flex;
  gap: 30px;
}

.form h3{
  margin-top: 50px;
  margin-bottom: 40px;
}

.row1{
  width: 50%;
  float: left;
}

.row2{
  width: 50%;
  float: left;
}

.row1 select{
  width: 100%;
  outline: none;
  background-color: #f5f3f3;
  border: #D9D9D9 1px solid;
  color: #2b2b2b;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.row2 select{
  width: 100%;
  outline: none;
  background-color: #f5f3f3;
  border: #D9D9D9 1px solid;
  color: #2b2b2b;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.range-input{
  display: flex;
  align-items: center;
  gap: 10px;
}

.range-input p{
  font-family: 'Shantell Sans';
  color: #6B885E;
}

.range {
  margin-top: 5px;
  -webkit-appearance: none;
  appearance: none; 
  width: 80%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  float: left;
}

.range::-webkit-slider-runnable-track {
  height: 20px;
  background: #ccc;
  border-radius: 16px;
}

.range::-moz-range-track {
  height: 20px;
  background: #ccc;
  border-radius: 16px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #6b886b;
  box-shadow: -407px 0 0 400px #6b886b;
}

.range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #6b886b;
  box-shadow: -407px 0 0 400px #6b886b;
}

/* ------------------------------------------------------------- */
/* Carbon Emissions Page */

.carbonEmissions-container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.carbonEmissions-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-options{
  display: flex;
  gap: 10px;
}

/* ------------------------------------------------------------- */
/* get involved page */
.getInvolved-container{
  width: 100%;
  height: auto;
}

.getInvolved-header{
  width: 100%;
  height: 70vh;
  background-image: url('assets/getInvolved_bg.svg');
  background-position: center;
  background-size: cover;
}

.getInvolved-info {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 50%;
  height: 100%;
  animation: swipeIn 1s ease-in-out;
}

.getInvolved-info h1{
  padding: 0;
  margin: 0;
}

.getInvolved-info p{
  padding: 0;
  width: 70%;
  font-size: 20px;
}

.sustainability-projects-container{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}

.sustainability-projects-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sustainability-projects-header h1{
  font-size: 40px;
  font-weight: 450;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.list-of-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px; /* Adjust the gap between items as needed */
}

.list-of-projects .projectCard-container {
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}

.list-of-projects .projectCard-container:nth-child(1) {
  animation-delay: 0.2s;
}

.list-of-projects .projectCard-container:nth-child(2) {
  animation-delay: 0.4s;
}

.list-of-projects .projectCard-container:nth-child(3) {
  animation-delay: 0.6s;
}

.list-of-projects .projectCard-container:nth-child(4) {
  animation-delay: 0.8s;
}

.list-of-projects .projectCard-container:nth-child(5) {
  animation-delay: 0.10s;
}

.list-of-projects .projectCard-container:nth-child(6) {
  animation-delay: 0.12s;
}

.list-of-projects .projectCard-container:nth-child(7) {
  animation-delay: 0.14s;
}

.list-of-projects .projectCard-container:nth-child(8) {
  animation-delay: 0.16s;
}

/* Project Card */
.projectCard-container{
  width: auto;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px #E4E4E4;
  transition: transform .2s
}

.projectCard-container:hover{
  box-shadow: 0px 4px 20px 0px #6B885E;
}

.card-info{
  padding-left: 30px;
  padding-right: 30px;
}

.card-info h3{
  padding-top: 20px;
}

.card-info p{
  padding-bottom: 20px;
}

/* Project Images */
.maldieves_island{
  width: 100%;
  height: 300px;
  background-image: url('assets/maldvies_island.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.ocean_conservation{
  width: 100%;
  height: 300px;
  background-image: url('assets/ocean_conservation.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.reforestation_project{
  width: 100%;
  height: 300px;
  background-image: url('assets/reforestation_project.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.rhino_poaching{
  width: 100%;
  height: 300px;
  background-image: url('assets/rhino_poaching.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.sea_turtles{
  width: 100%;
  height: 300px;
  background-image: url('assets/sea_turtles.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.sustainable_agriculture{
  width: 100%;
  height: 300px;
  background-image: url('assets/sustainable_agriculture.jpeg');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.waste_reduction{
  width: 100%;
  height: 300px;
  background-image: url('assets/waste_reduction.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.wildlife_reserve{
  width: 100%;
  height: 300px;
  background-image: url('assets/wildlife_reserve.png');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.footer-img{
  width: 100%;
  height: 400px;
  background-image: url('assets/getInvolved-footer.svg');
  background-position: center;
  background-size: cover;
}

.calculator-footer-img{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-image: url('assets/calculator_footer.svg');
  background-position: center;
  background-size: cover;
}