body {
  margin: 0;
  padding: 0;
}

/* nav bar */
.nav-container{
  width: 95%;
  margin-left: 2.5%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo{
  background-image: url('assets/logo.svg');
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.logo-text{
  font-size: 30px;
  font-family: 'Shantell Sans';
  font-weight: 500;
  color: #2b2b2b;
}

.green{
  color: #6B885E;
}

.name-container{
  display: flex;
  flex-direction: row;
}

a{
  text-decoration: none;
  color: #2b2b2b;
}

.navItems{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navItems p{
  font-family: 'Shantell Sans';
  font-size: 18px;
  transition: color 0.2s ease-out 100ms;
}

.navItems p:hover{
  color: #6B885E;
}

.active p{
  color: #6B885E;
  font-weight: 500;
}